
body {
    background-color: #f7f8f0;
    font-family: 'Geneva', sans-serif;

}

header {
    background-color: #233d4d;
    padding: 3%;
}


.nav-bar {
    position: relative;
    margin: 0;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    float: right;
}

li a {
    color: #f8faec;
    font-size: 24px;
    text-decoration: none;
    padding: 5px;
}

li a:hover {
    background-color: #578bac;
}

/* background image fills page right to left */
#periodic-table {
    height: 400px;
    width: 100%;
    position: relative;
    background-image: url("../images/periodic-table.jpg");
    background-size: cover;
    padding: 0;
}

h1 {
    display: inline-block;
    color: #fcca46;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 0 0 10px #031927, 0 0 10px #031927, 0 0 10px #031927, 0 0 10px #031927;
    padding-left: 20px;
}

/* tiny Shelley at top of page */
#avatar {
    display: block;
    padding-left: 20px;
    height: 150px;
    width: auto;
}


#portfolio-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    padding: 10px;
}

.box:hover {
    opacity: 0.5;

}
#box1image {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;

}



/* portfolio placeholder boxes */

#portfolio-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    align-content: space-around;
    padding: 10px;
}


  /* Begin other info about me section */
#content {
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    width: 35%;
    background-color: #fcca46;
    color: #323031;
}

.text {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
    
}

h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.info p {
    font-size: 18px;
    margin-bottom: 10px;
}


#aboutMeImage {
    max-height: 250px;
}

/* find larger image */
#resumeImage {
    min-height: 250px;
}

#contactImage {
    min-height: 250px;
}


footer {
    height: 50px;
    width: 100%;
    padding: 20px;
    background-color: #233d4d;
    font-size: 20px;
    text-align: center;
    color: #f8faec;
}

@media screen and (max-width: 800px) {
    .nav-bar {
        width: 100%;
    }
    li {
      float: none;
      width: 100%;
    }
    #content {
        display: flex;
        flex-direction: column;
    }

    #resumeImage {
        height: auto;
    }
  }