
body {
    background-color: #f7f8f0;
    font-family: 'Geneva', sans-serif;
    display: flex;
    flex-direction: column;
}


header {
    background-color: #233d4d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

h1 {
    color: #fcca46;
    font-size: 48px;
}

ul {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    list-style-type: none;
}

li a {
    display: inline-block;
    margin-left: 20px;
    color: #f8faec;
    font-size: 24px;
    text-decoration: none;
   
}

/* background image fills page right to left */
#periodic-table {
    height: 400px;
    width: 100%;
    position: relative;
    background-image: url("../images/periodic-table.jpg");
    background-size: cover;
    padding: 0;
}

/* tiny Shelley at top of page */
#avatar {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 150px;
    width: auto;
}

/* header to emphasize work portfolio section */
#portfolio {
    height: 60px;
    width: 100%;
    background-color: #233d4d;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: #f8faec;
    text-align: center;
    padding: 10px;
}

/* portfolio placeholder boxes */
/* Yes, I WILL have six projects to show off :) */

#portfolio-boxes {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    align-content: space-around;
    padding: 10px;
}

/* zoom animation */
.zoom {
    padding: 100px;
    transition: transform .2s; 
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
  }
  
  /* 150% zoom on hover */
  .zoom:hover {
    transform: scale(1.5); 
  }

  /* placeholder for work titles */
  .text-block {
      position: absolute;
      top: 110px;
      right: 10px;
      background-color: black;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
  }

/* adapt to smaller screens */
@media screen and (max-width: 768px) {
    .zoom {
        width: 50%;
    }
}

  /* Begin other info about me section */
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.info {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #fcca46;
    color: #323031;
}

h3 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

#resume {
    text-align: right;
}

.info p {
    font-size: 30px;
    margin-bottom: 10px;
}

/* work on size of images */
#aboutMeImage {
    max-height: 250px;
    float: right;
}

#resumeImage {
    min-height: 250px;
    float: left;
}

#contactImage {
    min-height: 250px;
    float: right;
}


footer {
    height: 50px;
    width: 100%;
    padding: 20px;
    background-color: #233d4d;
    font-size: 20px;
    text-align: center;
    color: #f8faec;
}